# Python / PyTorch temporary files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Virtual environments & Local data
venv/
env/
data/
*.png
!images/*.png
*.jpg
*.csv

# Model ağırlıklarının ve checkpoint dosyalarının GitHub'a gitmesini engellemek için
checkpoints/*
!checkpoints/densenet121_stage2_denseblock3_best_qwk.pth
*.pth
!densenet121_stage2_denseblock3_best_qwk.pth
*.ckpt
